USE [master]
GO
/****** Object:  Database [TPFINAL]    Script Date: 16/11/2023 08:18:54 ******/
CREATE DATABASE [TPFINAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPFINAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TPFINAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPFINAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TPFINAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPFINAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPFINAL]
GO
/****** Object:  User [alumno]    Script Date: 16/11/2023 08:18:54 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Artista]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artista](
	[artistaId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](999) NOT NULL,
	[genero] [nchar](99) NOT NULL,
	[gusta] [int] NOT NULL,
	[noGusta] [int] NOT NULL,
	[foto] [varchar](999) NOT NULL,
 CONSTRAINT [PK_Artista] PRIMARY KEY CLUSTERED 
(
	[artistaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArtistaXUsuario]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtistaXUsuario](
	[usuarioId] [int] NOT NULL,
	[ArtistaId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cancion]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cancion](
	[cancionId] [int] IDENTITY(1,1) NOT NULL,
	[artistaId] [int] NOT NULL,
	[nombre] [nchar](50) NOT NULL,
	[fechaestreno] [date] NOT NULL,
 CONSTRAINT [PK_Cancion] PRIMARY KEY CLUSTERED 
(
	[cancionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentario](
	[comentarioId] [int] IDENTITY(1,1) NOT NULL,
	[artistaId] [int] NOT NULL,
	[usuarioId] [int] NOT NULL,
	[contenido] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Comentario] PRIMARY KEY CLUSTERED 
(
	[comentarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuarioId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[contraseña] [varchar](99) NOT NULL,
	[mail] [varchar](999) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artista] ON 

INSERT [dbo].[Artista] ([artistaId], [nombre], [descripcion], [genero], [gusta], [noGusta], [foto]) VALUES (1, N'Billy Joel ', N'cantante, compositor y pianista estadounidense. Ha logrado más de 40 hits desde 1973', N'rock, pop, clasica', 1, 0, N'billyjoel.jpg')
INSERT [dbo].[Artista] ([artistaId], [nombre], [descripcion], [genero], [gusta], [noGusta], [foto]) VALUES (2, N'Queen', N'banda británica de rock formada en 1970', N'rock, pop', 5, 3, N'queen.jpg')
INSERT [dbo].[Artista] ([artistaId], [nombre], [descripcion], [genero], [gusta], [noGusta], [foto]) VALUES (3, N'Fito Paez', N'músico, compositor, pianista, director de cine y cantante argentino', N'rock, pop', 1, 0, N'fitopaez.jpg')
SET IDENTITY_INSERT [dbo].[Artista] OFF
GO
INSERT [dbo].[ArtistaXUsuario] ([usuarioId], [ArtistaId]) VALUES (1, 2)
INSERT [dbo].[ArtistaXUsuario] ([usuarioId], [ArtistaId]) VALUES (2, 3)
INSERT [dbo].[ArtistaXUsuario] ([usuarioId], [ArtistaId]) VALUES (2, 4)
GO
SET IDENTITY_INSERT [dbo].[Cancion] ON 

INSERT [dbo].[Cancion] ([cancionId], [artistaId], [nombre], [fechaestreno]) VALUES (1, 1, N'"piano man"                                       ', CAST(N'1971-01-01' AS Date))
INSERT [dbo].[Cancion] ([cancionId], [artistaId], [nombre], [fechaestreno]) VALUES (2, 1, N'"vienna"                                          ', CAST(N'1977-01-01' AS Date))
INSERT [dbo].[Cancion] ([cancionId], [artistaId], [nombre], [fechaestreno]) VALUES (3, 1, N'"movin out"                                       ', CAST(N'1977-02-02' AS Date))
SET IDENTITY_INSERT [dbo].[Cancion] OFF
GO
SET IDENTITY_INSERT [dbo].[Comentario] ON 

INSERT [dbo].[Comentario] ([comentarioId], [artistaId], [usuarioId], [contenido]) VALUES (1, 1, 1, N'"que geniooo"                                     ')
INSERT [dbo].[Comentario] ([comentarioId], [artistaId], [usuarioId], [contenido]) VALUES (2, 2, 1, N'"me encanta su musica"                            ')
INSERT [dbo].[Comentario] ([comentarioId], [artistaId], [usuarioId], [contenido]) VALUES (3, 5, 4, N'"unos capos"                                      ')
SET IDENTITY_INSERT [dbo].[Comentario] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([usuarioId], [nombre], [contraseña], [mail]) VALUES (1, N'JulianLifsch                                      ', N'84950', N'jlifschits@gmail.com')
INSERT [dbo].[Usuario] ([usuarioId], [nombre], [contraseña], [mail]) VALUES (2, N'LucaList                                          ', N'odlfigh515', N'listin@gmail.com')
INSERT [dbo].[Usuario] ([usuarioId], [nombre], [contraseña], [mail]) VALUES (3, N'JuliLav                                           ', N'POlofJd1', N'jlav@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
/****** Object:  StoredProcedure [dbo].[AñadirComentario]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AñadirComentario]
	@art int,
	@userId int,
	@cont nchar(150)
AS
BEGIN
	Insert into Comentario(artistaId, usuarioId, contenido) Values (@art, @userId, @cont)
	Select C.*, U.nombre From Comentario as C inner join Usuario as U on C.usuarioId = U.usuarioId where C.comentarioId = @@IDENTITY;
END
GO
/****** Object:  StoredProcedure [dbo].[CargarArtistas]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarArtistas]
	@buscar varchar(50)
AS
BEGIN
	Select * From Artista where nombre like '%' + @buscar + '%' or @buscar IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[CargarSeguidos]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarSeguidos]
	@id int
AS
BEGIN
	Select A.* From Artista as A inner join ArtistaXUsuario as AxU on A.artistaId = AxU.artistaId where AxU.usuarioId = @id;  
END
GO
/****** Object:  StoredProcedure [dbo].[CargarCanciones]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CargarCanciones]
	@art int
AS
BEGIN
	Select * From Cancion where artistaId = @art
END
GO
/****** Object:  StoredProcedure [dbo].[CargarComentarios]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CargarComentarios]
	@art int
AS
BEGIN
	Select C.*, U.nombre From Comentario as C inner join Usuario as U on C.usuarioId = U.usuarioId Where C.artistaId = @art Order by C.comentarioId desc;
END
GO
/****** Object:  StoredProcedure [dbo].[Gusta]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Gusta]
	@art int
AS
BEGIN
	update Artista set gusta=gusta+1 where Artista.artistaId=@art
END
GO
/****** Object:  StoredProcedure [dbo].[Log_in]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Log_in]
	@pname varchar(999),
	@pcon varchar(999)
AS
BEGIN
	Select * From Usuario Where nombre = @pname and contraseña = @pcon;
END
GO
/****** Object:  StoredProcedure [dbo].[NoGusta]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NoGusta]
	@art int
AS
BEGIN
	update Artista set noGusta=noGusta+1 where Artista.artistaId=@art
END
GO
/****** Object:  StoredProcedure [dbo].[Registrarse]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Registrarse]
	@use varchar(999),
	@con varchar(999),
	@mail varchar(999)
AS
BEGIN
	Insert into Usuario(nombre, contraseña, mail) Values (@use, @con, @mail)
END
GO
/****** Object:  StoredProcedure [dbo].[SeguirArtista]    Script Date: 16/11/2023 08:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SeguirArtista]
	@art int,
	@user int
AS
BEGIN
	if exists(Select * From ArtistaXUsuario Where artistaId = @art and usuarioId = @user)
	Begin
		Delete From ArtistaXUsuario Where artistaId = @art and usuarioId = @user;
		return 0;
	End
	Else
	Begin
		Insert into ArtistaxUsuario(artistaId, usuarioId) Values (@art, @user);
		return 1;
	End
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarUsuario]    Script Date: 22/11/2023 15:38:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarUsuario]
	@id int
AS
BEGIN
	Select * From Usuario Where usuarioId = @id;
END
GO
USE [master]
GO
