@{
    ViewData["Title"] = "Creditos";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Creditos</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        <img src="img/logo.png">
        <br>
        <h1>Apolo Sound, la plataforma perfecta para el amante de la musica</h1> 
        <br>
        <h1>Pagina desarrollada por Julián Lifschitz, Luca Listingart Maekanehisa y Julián Lavera</h1> 
    </body>
</html>