@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        <img src="img/Logo.JPG">
        <br>
        <p>Apolo Sound, la plataforma perfecta para el amante de la musica</p>
        <a href='@Url.Action("Login")'><button>Jugar</button></a>
        <a href='@Url.Action("Registrarme")'><button>Jugar</button></a>
        
    </body>
</html>
