@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        <img src="img/logo.png">
        <br>
        <h1>Apolo Sound, la plataforma perfecta para el amante de la musica</h1>
        <a href='@Url.Action("Login")'><button>Login</button></a>
        <a href='@Url.Action("Registrarse")'><button>Registrarme</button></a>
        
    </body>
</html>
