@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Perfil</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        
        <br>
        <h1>Nombre:@ViewBag.Usuario.nombre</h1>
        <h1>Artistas seguidos:@ViewBag.Usuario.Nombre</h1>
    </body>
</html>
