@{
    ViewData["Title"] = "Perfil";
}
<h1>Username: @BD.user.nombre</h1>
<br>
<h1>Artistas seguidos:</h1>
@foreach(Artista item in ViewBag.seguidos)
{
    <h1>- @item.nombre</h1>
}
<a href='@Url.Action("Index")'><button>Cerrar perfil</button></a>