@{
    ViewData["Title"] = "Perfil";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Perfil</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        <h1>Username:@ViewBag.user.nombre</h1>
        @foreach(Artista item in ViewBag.seguidos)
        {
            <h1>item.Nombre</h1>
        }
    </body>
</html>
