@{
    ViewData["Title"] = "Registro";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Index</title>
        <link rel="Stylesheet" src="site.css">
    </head>
    <body>
        <h1>¡Bienvenido, Registrate!</h1>
        <form class="center" method="post" action='@Url.Action("Registro")'>
            <label for="nombre">Nombre de Usuario</label>
            <input type="text" name="nombre" placeholder="Usuario" required></input>

            <label for="contraseña">Contraseña</label>
            <input type="password" value="" name="contraseña" placeholder="Contraseña" id="password" onkeyup="ValidatePassword()" required></input>
            <span id="PasswordAlert" class="alert"></span>

            <label for="mail">Mail</label>
            <input type="mail" value="" name="mail" placeholder="Mail" required></input>
            
            <input type="submit" >
        </form>
    </body>
</html>
