@{
    ViewData["Title"] = "Registro";
}
<h1>¡Bienvenido, Registrate!</h1>
<form class="center" method="post" action='@Url.Action("Registro")'>
    <label for="UserName">Nombre de Usuario</label>
    <input type="text" name="UserName" placeholder="Usuario" required></input>
    <span id="UsernameAlert" class="alert"></span>

    <label for="UserName">Contraseña</label>
    <input type="password" value="" name="Contraseña" placeholder="Contraseña" id="c1" onkeyup="ValidatePassword()" required></input>
    <span id="PasswordAlert" class="alert"></span>