 @{
    ViewData["Title"] = "Ver Artistas";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>VerArtistas</title> 
    </head>
    <body>
        @foreach (Artista item in ViewBag.Artistas)
        {
        <div class ="MostrarArtistas">
            <div class ="Artistas">
                <h1>Nombre:  @item.nombre</h1>
                <img src="/img/Artistas/@item.foto">
                <hi>Likes: @item.gusta</hi>
                <hi>Dislikes: @item.noGusta</hi> 
            </div>
        </div>
        }
    </body>
</html>