 @{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="Stylesheet" src="site.css">
        <title>VerArtistas</title>
    </head>
    <body>
    @foreach (Artista item in ViewBag.Artistas)
    {
        <h1>Nombre:  @item.nombre</h1>
        <img src="'/img/Artistas/'@item.foto">
        <h1>Likes: @item.gusta</h1>
        <h1>Dislikes: @item.noGusta</h1> 
    }
    </body>
</html>