html {
  position: relative;
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body
{
  background-color: rgb(0, 0, 0);
  text-align: center;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

div
{
  margin: 0%;
}

nav
{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0;
  margin-bottom: 5rem;
  padding: 0;
  background-color: #4e1f44;
}

nav ul
{
  list-style-type: none;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}


nav li 
{
  float: right;
  height: 5.3rem;
  border-left: solid rgb(226, 132, 238) 2px;
}
  
nav li a
{
  display:inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover 
{
  background-color: #c116f5;
}

nav img
{
  margin-right: 85rem;
}

button
{
  background-color: #f516bd;
  height: 7rem;
  width: 12rem;
  font-size: large;
  color: white;

}

button:hover
{
  background-color: #ee16f5af;
}

h1
{
color: white;
}

hi
{
  color: white;
}

.columna
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Artistas
{ 
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  float:left;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.Artistas img
{
  height:20rem;
  width:20rem;
}

.datos
{
  margin-left:10rem;
  width:56rem;
}

.canciones
{
  margin-left:10rem;
}

.canciones
{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.DetallesArtista
{
  text-align: start;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  border-bottom: 5px white solid;
}

.FotoSeguir
{
  margin-right: 20rem;
}

.detalles
{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  width: 50%;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 18px 16px;
  background-color: transparent;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.input::placeholder {
  color: transparent;
}

.input:focus::placeholder {
  color: rgb(131, 128, 128);
}

.input:focus,.input:not(:placeholder-shown) {
  background-color: #fff;
  border: 1px solid rgb(255, 0, 242);
  width: 290px;
  cursor: none;
  padding: 18px 16px 18px 40px;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  fill: rgb(255, 0, 242);
  border: 1px solid rgb(98, 0, 255);
}

.input:hover + .icon {
  transform: rotate(360deg);
  transition: .2s ease-in-out;
}

.input:focus + .icon,.input:not(:placeholder-shown) + .icon {
  z-index: 0;
  background-color: transparent;
  border: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
}

svg {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: all 0.3s;
  fill: #920e50;
}

svg:hover {
  transform: scale(1.1) rotate(-10deg);
}

.container input:checked ~ svg {
  fill: #ff0080;
}

.comentario {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.comentario:hover,
.comentario:focus {
  border: 2px solid #f516bd;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
  background-color: white;
}

.nuevo
{
  display:none;
  margin: 0;
  padding: 0;
}

.comNuevo
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

