html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body
{
  background-color: rgb(0, 0, 0);
  margin: 20px 60px 0px 20px;
  text-align: center;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav
{
  position: sticky;
  top:0;
}

nav ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4e1f44;
}
  
nav li 
{
  float: right;
  height: 3.3rem;
  border-left: solid rgb(226, 132, 238) 2px;
}
  
nav li a
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li:hover 
{
  background-color: #c116f5;
}

button
{
  background-color: #f516bd;
  height: 7rem;
  width: 12rem;
  font-size: large;
  color: white;

}

button:hover
{
  background-color: #ee16f5af;
}

h1
{
color: white;
}

.columna
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.Artistas
{ 
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  float:left;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
}

.Artistas img
{
  height:20rem;
  width:20rem;
}

.datos
{
  margin-left:50rem
}

.canciones
{
  margin-left:50rem
}

.DetallesArtista
{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
}

.detalles
{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  width: 50%;
}

